@model IEnumerable<SanjeshP.RDC.Web.Areas.Admin.Models.UserViewModel.UserViewModel>

@{
    ViewData["Title"] = "Index";
    int i = 1;
}

<h1>Index</h1>

<p>
    <a asp-area="Admin" asp-controller="Users" asp-action="Create" class="btn btn-primary"> افزودن کاربر جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TwoFactorEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.LastLoginDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpireDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@i</td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastLoginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpireDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                <a asp-action="Details" asp-route-id="@item.Id">مشاهده اطلاعات</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
        i++;
}
    </tbody>
</table>
