@using SanjeshP.RDC.Web.Areas.Admin.Models.DTO_User;
@model IEnumerable<RegisterDto>
@{
    ViewData["Title"] = "مدیریت کاربران";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int i = 1;
}

<div class="bg-light p-4 rounded ">
    <h3>لیست کاربران</h3>
    <div class="row mb-3">
        <input type="button" class="btn btn-outline-primary" onclick="CreateUser()" value="افزودن کاربر" />
    </div>

    <table class="table table-hover text-center " id="tbl_user">
        <thead>
            <tr class='trhead'>
                <th>#</th>
                <th>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input selectAll" id="selectAll">
                        <label class="custom-control-label" for="selectAll"></label>
                    </div>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NationalCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserTypeTitle)
                </th>

                <th class="text-center">
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="tr_@(item.UserId)">
                    <th scope="row">@i</th>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="@item.UserId">
                            <label class="custom-control-label" for="@item.UserId"></label>
                        </div>

                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NationalCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserTypeTitle)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.IsActiveTitle)
                    </td>
                    <td>
                        <a class="btn btn-sm btn-outline-info" onclick="DetailUser('@item.UserId')" title="اطلاعات کاربر"><i class="fa fa-info"></i></a>
                        <a class="btn btn-sm btn-outline-warning" onclick="EditUser('@item.UserId')" title="ویرایش کاربر"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-sm btn-outline-danger" id="@item.UserId" data-toggle="DeleteUser" title="حذف کاربر"><i class="fa fa-trash"></i></a>
                        <a class="btn btn-sm btn-outline-dark" onclick="AccessMenu('@item.UserId')" title="دسترسی کاربر"><i class="fa fa-sitemap"></i></a>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>

    <div id="Modal_AddEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Modal_AddEdit" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="align-content-end">
                        <h5 class="modal-title" id="lbl_Modal_AddEdit"></h5>
                    </div>
                    <div class="align-content-start">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>
                <div class="modal-body" id="body_Modal_AddEdit">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <span>در حال بارگزاری</span>
                        </div>
                        <div class="col-md-12">
                            <img src="~/img/background/2.svg" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>


</div>
@section scripts {
    <script src="~/js/bootstrap-confirmation.min.js"></script>  <!-- For confirmed delete -->
    <script src="~/admin/plugins/datatables/jquery.datatables.min.js"></script>
    <script src="~/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#tbl_user').DataTable({
                "paging": true,
                "searching": true,
                "lengthChange": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });

        $('.selectAll').click(function (e) {
            var table = $(e.target).closest('table');
            $('th input:checkbox', table).prop('checked', this.checked);
        });

        $('.modal-dialog').draggable({
            "handle": ".modal-header"
        });

        $('[data-toggle="DeleteUser"]').confirmation({
            title: 'آیا از حذف مطمئن هستید؟',
            btnCancelClass: 'btn btn-sm btn-primary',
            btnCancelLabel: 'انصراف',
            btnOkClass: 'btn btn-sm btn-danger',
            btnOkLabel: 'حذف',
            onConfirm: function () { DeleteUser($(this).attr('id')) }
        });

        function DetailUser(UserID) {
            $("#lbl_Modal_AddEdit").html("اطلاعات کاربر ");
            $('#Modal_AddEdit').modal('show');
            $("#body_Modal_AddEdit").html("");
            $("#body_Modal_AddEdit").load("/Admin/Users/DetailUser?userid=" + UserID);
        };
        function CreateUser() {
            $("#lbl_Modal_AddEdit").html("افزودن کاربر ");
            $('#Modal_AddEdit').modal('show');
            $("#body_Modal_AddEdit").html("");
            $("#body_Modal_AddEdit").load("/Admin/Users/CreateUser");
        };
        function EditUser(UserID) {
            $("#lbl_Modal_AddEdit").html("ویرایش کاربر");
            $('#Modal_AddEdit').modal('show');
            $("#body_Modal_AddEdit").html("در حال بارگذاری...");
            $("#body_Modal_AddEdit").load("/Admin/Users/EditUser?userid=" + UserID);
        }

         function AccessMenu(UserID) {
            $("#lbl_Modal_AddEdit").html("اعمال دسترسی");
            $('#Modal_AddEdit').modal('show');
            $("#body_Modal_AddEdit").html("");
            $("#body_Modal_AddEdit").load("/Admin/Users/UserAccessMenu?userid=" + UserID);

        };

        function DeleteUser(UserID) {
             $.ajax({
                    method: "POST",
                    url: "/Admin/Users/DeleteUser?userid=" + UserID,
                    success: function (response) {
                        if (response.isSuccess) {
                             $("#tr_" + UserID).addClass("bg-danger").hide('slow', function() {
                                  Toast.fire({
                                        icon: 'success',
                                        title: response.message,
                                  })
                            });

                        } else {
                             Toast.fire({
                                    icon: 'warning',
                                    title: response.message,
                             })
                        }
                    },
                    error: function () {
                        Toast.fire({
                            icon: 'error',
                            title: 'کاربری جهت حذف ارسال نشده است یا خطایی رخ داده.',
                        })
                    }
                });
        };

        //  $(document).ready(function () {
        //     $('#edit-user-form').submit(function (event) {
        //         event.preventDefault(); // جلوگیری از ارسال فرم به صورت پیش‌فرض

        //         var form = $(this);
        //         $.ajax({
        //             type: form.attr('method'),
        //             url: form.attr('action'),
        //             data: form.serialize(),
        //             success: function (response) {
        //                 if (response.isSuccess) {
        //                     // بارگذاری پاسخ در مودال
        //                     $("#body_Modal_AddEdit").html(response.html);
        //                 } else {
        //                     // در صورت وجود خطا، بارگذاری پاسخ در مودال
        //                     $("#body_Modal_AddEdit").html(response.html);
        //                 }
        //             },
        //             error: function () {
        //                 alert('خطایی رخ داده است. لطفاً دوباره امتحان کنید.');
        //             }
        //         });
        //     });
        // });
    </script>
}