@using MMM.Olympiad.Web.Areas.UserArea.Models
@using System.Diagnostics
@model List<ListMenuDto>

@{
    ViewData["Title"] = "MenuBar";
}
@{
    Debug.WriteLine(Model);
}
@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a href="@item.Link">
                    <i class="@item.Icon"></i> @item.Title
                </a>
                @if (item.children != null && item.children.Any())
                {
                    <ul>
                        @foreach (var child in item.children)
                        {
                            <li>
                                <a href="@child.Link">
                                    <i class="@child.Icon"></i> @child.Title
                                </a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
}
else
{
    <p>No menu items available.</p>
}


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


